.Ads-2{
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    margin-top: 10px;
    a{
        width: 70%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}