.Ads-5{
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    .Ads-5-container{
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        a{
            width: 50%;
            height: 100%;
            
            img{
                width: 100%;
                border-radius: 20px;
            }
        }
    }
}