.Ads-6 {
  width: 100%;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  .Ads-6-container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    .Ads-6-title {
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: iranYekan;

      padding: 0px 20px;
      box-sizing: border-box;
      .right {
        width: 50%;
        height: 100%;
        font-size: 14px;
        font-weight: bold;
      }
      .left {
        width: 50%;
        height: 100%;
        text-align: left;
        color: #19c4dd;
        a {
          all: unset;
          cursor: pointer;
          font-family: iranYekan;
          font-size: 13px;
        }
        svg {
          width: 18px;
          height: 18px;
          fill: #19bfd3;
        }
      }
    }
    .Ads-6-item {
      width: 100%;
      height: 90%;
      display: flex;
      align-items: center;
      gap: 10px;
      .Ads-6-items {
        width: 25%;
        height: 100%;
        border: 1px solid lightgrey;
        border-radius: 20px;
        .top {
          width: 100%;
          height: 80%;
          img {
            width: 100%;
            height: 90%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
          }
        }
        .bottom {
          width: 100%;
          height: 20%;
          display: flex;
          justify-content: start;
          align-items: start;
          font-family: iranYekan;
          font-size: 13px;
          padding: 0px 10px;
          box-sizing: border-box;
        }
      }
    }
  }
}
