.Ads-3{
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    box-sizing: border-box;
    .Ads-3-item{
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        a{
            width: 25%;
            height: 100%;
            img{
                width: 100%;
                border-radius: 20px;
            }
        }
    }
}