.amazing-swiper {
  width: 100%;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  .amazing-swiper-item {
    width: 70%;
    height: 100%;
    background: linear-gradient(225deg, #d22c4e, #ee384e 41.68%, #ef5662);
    padding: 20px 10px;
    box-sizing: border-box;
    border-radius: 20px;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  padding: 8px;
  box-sizing: border-box;
  &.mainslide {
    background-color: transparent;
  }
  .amazing-more {
    width: 100%;
    a {
      color: white;
      text-decoration: none;
      font-family: iranYekan;
      font-size: 15px;
    }
  }
  a {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .amazing-product-img {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 80%;
      }
    }
    .amazing-product-title {
      width: 100%;
      font-family: iranYekan;
      font-size: 13px;
      color: #62666d;
      text-align: right;
    }
    .price {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      direction: ltr;
      .amazing-price {
        color: black;
        font-family: iranYekan;
        font-size: 16px;
        display: flex;
        flex-flow: row nowrap;
        gap: 2px;
        align-items: center;
        svg {
          width: 16px;
          height: 16px;
          fill: #424750;
        }
      }
      .amazing-discount {
        color: white;
        background-color: #d22c4e;
        font-family: iranYekan;
        font-size: 16px;
        border-radius: 11px;
        padding: 1px 5px;
        box-sizing: border-box;
      }
    }
    .old-price {
      width: 100%;
      text-align: left;
      font-family: iranYekan;
      font-size: 13px;
      padding: 0px 20px;
      box-sizing: border-box;
      text-decoration: line-through;
      color: #c0c2c5;
    }
  }
  &.amazing-container {
    align-items: center;
    justify-content: center;
    .amazing-seemore {
      width: 100%;
      height: 100%;
      display: flex;
      gap: 10px;
      flex-flow: column nowrap;
      .A-seemore-icon {
        svg {
          padding: 5px;
          box-sizing: border-box;
          border: 2px solid #19bfd3;
          border-radius: 50%;
        }
      }
      .A-seemore-title {
        color: #3f4064;
        font-family: iranYekan;
        font-size: 15px;
      }
    }
  }

  &.amazing-border-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  &.amazing-border-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px;
  height: 50px;
  color: black;
  background-color: #ffffff77;
  border-radius: 50%;
  padding: 0px 15px;
  box-sizing: border-box;
  svg {
    width: 13px;
  }
}
