.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brands {
  width: 100%;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;

  .papular-brand {
    width: 70%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: 40px;
    border: 2px solid rgb(236, 234, 234);
    border-radius: 20px;
    padding: 10px 0px;
    box-sizing: border-box; 

    .brands-title {
      width: 100%;
      height: 30%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      font-family: iranYekan;
      gap: 5px;
      font-size: 20px;
      svg {
        width: 24px;
        height: 24px;
        fill: #f9bc00;
      }
    }
    .brands-pic {
      width: 100%;
      height: 70%;
      padding: 15px;
      box-sizing: border-box;
      
        img{
            width: 100%;
        }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  color: black;
  background-color: rgba(236, 234, 234, 0.6);
  border-radius: 50%;
  padding: 0px 15px;
  box-sizing: border-box;
  svg {
    width: 8px;
  }
}