.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #444; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buywith-category {
  width: 100%;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  box-sizing: border-box;
  .categorycantainer {
    width: 70%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .category-title {
      width: 100%;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: iranYekan;
      font-size: 20px;
    }

    .category-item {
      width: 100%;
      height: 90%;
      /* background-color: gray; */
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      .swiper-wrapper {
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;

        .swiper-slide {
          height: 100%;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: center;

          a {
            all: unset;
            height: 100%;
            cursor: pointer;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            padding: 20px 0px;
            box-sizing: border-box;
            gap: 20px;
            .c-item1 {
              width: 100%;
              height: 50%;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              align-items: center;
              gap: 5px;
              .c-pic {
                width: 100%;
                height: 70%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  width: 110px;
                  height: 110px;
                }
              }
              .c-name {
                width: 100%;
                height: 30%;
                font-family: iranYekan;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
            .c-item2 {
              width: 100%;
              height: 50%;
              display: flex;
              flex-flow: column nowrap;
              justify-content: center;
              align-items: center;
              gap: 5px;
              .c-pic {
                width: 100%;
                height: 70%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  width: 110px;
                  height: 110px;
                }
              }
              .c-name {
                width: 100%;
                height: 30%;
                font-family: iranYekan;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;

              }
            }
          }
        }
      }
    }
  }
}

.swiper-button-next , .swiper-button-prev{
    width: 50px;
    height: 50px;
    color: black;
    background-color: #ffffff88;
    border-radius: 50%;
    padding: 0px 15px;
    box-sizing: border-box;
    svg{
        width: 15px;
    }
  }