html,
body {
  scroll-behavior: smooth;
}

footer {
  margin-top: 50px;
  padding-top: 20px;
  box-sizing: border-box;
  border-top: 1px solid lightgray;
}

.F1 {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  /* padding: 0px 60px; */
  /* box-sizing: border-box; */
  .F1-up {
    width: 90%;
    height: 60%;
    display: flex;
    flex-flow: row nowrap;
    .right {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      svg {
        width: 195px;
        height: 30px;
      }
    }
    .left {
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
      a {
        all: unset;
        cursor: pointer;
        button {
          all: unset;
          width: 130px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: iranYekan;
          font-size: 13px;
          color: #a1a3a8;
          border: 1px solid #a1a3a8;
          border-radius: 10px;
          svg {
            width: 24px;
            height: 24px;
            fill: #a1a3a8;
          }
        }
      }
    }
  }
  .F1-down {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    pre{
      font-family: iranYekan;
      font-size: 12px;
      color: #3f4064;
    }
  }
}
