.F2 {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .F2-container {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    .F2-item {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;
      .pic {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: end;
        justify-content: center;
        img{
            width: 56px;
        }
      }
      .text {
        width: 100%;
        height: 40%;
        display: flex;
        align-items: start;
        justify-content: center;
        font-family: iranYekan;
        font-size: 11px;
        color: #3f4064;
      }
    }
  }
}
