.F3 {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .F3-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding: 0px 10px;
    box-sizing: border-box;
    gap: 70px;
    .F3-item {
      width: 25%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      gap: 16px;
      a {
        all: unset;
        cursor: pointer;
      }
      p {
        font-family: iranYekan;
        color: #81858b;
        font-size: 14px;
      }
      .F3-p1 {
        font-family: iranYekan;
        color: #3f4064;
        font-weight: bold;
        font-size: 16px;
      }
    }
    .F3-item-left {
      width: 25%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      .W-us-1 {
        width: 100%;
        height: 15%;
        font-family: iranYekan;
        /* font-size: ; */
        color: #3f4064;
        font-size: 16px;
      }
      .social-icon {
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 15px;
        svg {
          width: 40px;
          height: 40px;
          fill: #a1a3a8;
        }
      }
      .W-us-2 {
        width: 100%;
        height: 25%;
        display: flex;
        align-items: center;
        /* margin-top: 5px; */
        font-size: 16px;
        font-family: iranYekan;
        color: #3f4064;
      }
      .E-email {
        width: 100%;
        height: 40%;
        padding-left: 50px;
        box-sizing: border-box;
        form {
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: row nowrap;
          gap: 8px;
          .Email {
            width: 80%;
            height: 60%;
            border-radius: 10px;
            outline: unset;
            font-family: iranYekan;
            padding: 0px 10px;
            box-sizing: border-box;
            border: unset;
            background-color: #F0F0F1;
            font-size: 15px;
          }
          .enter-email {
            width: 20%;
            height: 60%;
            border-radius: 10px;
            outline: unset;
            border: unset;
            background-color: #E0E0E2;
            color: white;
            font-family: iranYekan;
            font-size: 15px;
          }
        }
      }
    }
  }
}
