@import "./setting.css";
@import "./header.css";
@import "./story.css";
@import "./slider.css";
@import "./Product.css";
@import "./login.css";
@import "./amazing.css";
@import "./Ads-U.css";
@import "./Ads-2.css";
@import "./Ads-3.css";
@import "./category.css";
@import "./Ads-4.css";
@import "./brands.css";
@import "./Ads-5.css";
@import "./P-content.css";
@import "./Bestselling.css";
@import "./P-content-2.css";
@import "./selectedproduct.css";
@import "./hottest-product.css";
@import "./Ads-6.css";
@import "./support-market.css";
@import "./F1.css";
@import "./F2.css";
@import "./F3.css";
@import "./F4.css";
@import "./F5.css";
@import "./F6.css";
@import "./F7.css";