.Products {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  box-sizing: border-box;
  .more {
    width: 70%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: end;
    .more-item {
      width: 10%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      gap: 20px;
      padding: 5px;
      box-sizing: border-box;
      .morepic{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img{
            width: 60px;
            height: 60px;
        }
      }
      .moreaboute{
        width: 100%;
        height: 50%;
        font-family: iranYekan;
        display: flex;
        align-items: start;
        justify-content: center;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}

