.swiper-story {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  .swiper-story2 {
    width: 70%;
    height: 100%;

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      cursor: pointer;
      padding: 0px 5px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;
      gap: 10px;
      .image{
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
        box-sizing: border-box;
        img{
          width: 72px;
          height: 72px;
          border-radius: 50%;
          padding: 3px;
          box-sizing: border-box;
          outline: 2px solid purple;
        }
      }
      .about{
        width: 100%;
        height: 40%;
        font-family: iranYekan;
        font-size: 11px;
        text-align: inherit;
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
    .swiper-button-next , .swiper-button-prev{
    width: 50px;
    height: 50px;
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 0px 15px;
    box-sizing: border-box;
    border: 1px solid #F0F0F1;
    svg{
        width: 8px;
    }
  }
  
    .swiper-pagination-bullet-active{
        background-color: white;
        width: 15px;
        border-radius: 10px;
        transition: 400ms;

    }
}